.bg-white
{
    background: #fff;
}
.header
{
    width: 100%;
    height: 40px;

    background: #515151;
}
.logo
{
    position: relative;

    display: inline-block;
    float: left;

    width: 160px;
    height: 40px;

    border-radius: 3px;
}
.logo:hover
{
    background-color: #333;
}
.logo-img
{
    float: left;

    width: 40px;
    height: 40px;
    margin: 0 8px 0 8px;

    border-radius: 50%;
}
.logo-txt
{
    left: 64px;

    display: inline-block;
    float: left;

    width: 80px;
    height: 32px;
    margin: 4px 0;

    text-indent: -9999px;

    background: url(../images/logo-txt.png) no-repeat;
    background-size: 80px 32px;
}
.th-list-ctrl
{
    position: relative;

    display: none;
    float: right;

    width: 40px;
    height: 40px;

    cursor: pointer;

    color: #fff;
}
.th-list-ctrl span
{
    font-size: 24px;
    line-height: 24px;

    width: 40px;
    height: 40px;
    padding: 6px ;
}
.th-list-ctrl:hover
{
    background: #333;
}
.nav
{
    display: inline-block;

    width: 400px;
    height: 40px;
}
.xs-nav
{
    position: absolute;
    z-index: 99;
    background:#515151;

    width: 80px;
    right:-120px;
    transition:right 0.2s linear;
}
.xs-nav a
{
    font-size: 16px;
    font-weight: 500;

    position: relative;

    display: block;
    float: left;

    width: 80px;
    height: 40px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #eee;
}
.xs-nav a:hover
{
    color: #61bb51;
    background-color: #333;
}
@media  (max-width: 600px)
{
    .th-list-ctrl
    {
        display: inline-block;
    }
    .th-list-ctrl:hover .xs-nav
    {
        right: 0;
    }
    .nav{
        display:none;
    }
}

.nav a
{
    font-size: 16px;
    font-weight: 500;

    position: relative;

    display: inline-block;
    float: left;

    width: 80px;
    height: 40px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #eee;
}
.nav a:hover
{
    color: #61bb51;
    background-color: #333;
}
.hover-btn:hover .hover-tips
{
    visibility: visible;
}
.hover-btn:hover:before
{
    position: absolute;
    z-index: 99;
    top: 82%;
    left: 40%;

    width: 0;
    height: 0;

    content: '';

    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}
.hover-tips
{
    position: absolute;
    z-index: 99;
    top: 102%;
    left: -25%;

    visibility: hidden;

    width: 116px;
    height: 150px;

    color: #515151;
    /*white-space: pre;*/
    border-radius: 3px;
    background-color: #fff;
}
.hover-tips img
{
    width: 100px;
    height: 100px;
    margin: 8px;
}
/*以上为header样式;*/
footer
{
    width: 100%;
    margin-top: 24px;
    padding: 24px;

    background: #515151;
}

footer a
{
    color: #999;
}
h3
{
    margin-right: 8px;
    margin-left: 8px;
    padding: 8px 0;

    border-bottom: 1px solid #999;
}
/* 以上为footer页脚样式；*/
.article
{
    font-size: 16px;
    line-height: 28px;

    letter-spacing: normal;
}
/*行尾省略；*/
.ellipsis
{
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
