
.bg-white{background: #ffffff;}
.header{background:#515151;width: 100%}
.logo{display: inline-block;position:relative;width: 160px;height: 40px;float: left;border-radius: 3px;}
.logo:hover{background-color:#333333;}
.logo-img{
    width:40px;
    height:40px;
    float: left;
    border-radius: 50%;
    margin:0 8px 0 8px;
}
.logo-txt {
    display: inline-block;
    background:url(../images/logo-txt.png) no-repeat;
    background-size: 80px 32px;
    left: 64px;
    width:80px;
    height:32px;
    float: left;
    margin: 4px 0;
    text-indent: -9999px;
}
@media  (max-width: 991px){
    .logo{width: 100%;}
}
.nav a{
    position: relative;
    float: left;
    color:#eeeeee;
    font-size: 16px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 80px;
    text-align: center;
    font-weight: 500;
}
.nav a:hover{color: #61bb51;background-color:#333333;}
.hover-btn:hover .hover-tips{visibility: visible}
.hover-btn:hover:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 82%;
    left: 40%;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    z-index: 99;
}
.hover-tips{
    position: absolute;
    visibility: hidden;
    left: -25%;
    top:102%;
    width: 116px;
    height: 150px;
    background-color: #ffffff;
    color: #515151;
    /*white-space: pre;*/
    border-radius: 3px;
    z-index: 99;
}
.hover-tips img{
    width: 100px;
    height: 100px;
    margin: 8px;
}
.time{
    height: 32px;
    margin-top: 16px;
    /*font-size: 32px;*/
    color: #515151;
}
.introduction li{padding:4px }
.aside-column{position:relative;width:100%;height:400px;}
.stage {
    position:relative;
    overflow: hidden;
    width: 100%;
}
@media  (max-width: 1199px){
    .stage{height: 100%}
    .aside-column{height: 100%}
}
.tag{
    position: relative;
    float: left;
    margin: 8px;
    padding: 8px;
    width: 90px;
    height: 48px;
    line-height: 16px;
    font-size: 16px;
    text-decoration: none;
    color: #2d2d2d;
    background-color: #e0e0e0;
}
.tag:hover{
    color: #ffffff;
    background-color: #5bcc47;
    text-decoration: none;
}
.update_link{
    display: block;
    position: relative;
    overflow: hidden;
    margin: 8px;
    width: 100%;
    height: 24px;
    font-size: 16px;
    color: #2d2d2d;
}
.update_link:hover{
    color: #0c63ee;
}
.img-box{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
    width:22.5%;
    background: #515151;
    cursor: pointer;
    overflow: hidden;
}
.img-box:nth-last-child{clear: right;}
@media  (max-width: 1199px){
    .img-box{
        margin-left: 2.5%;
        margin-bottom: 2.5%;
        width:30%;
    }
}
@media  (max-width: 991px){
    .img-box{
        margin-left: 3%;
        margin-bottom: 3%;
        width:45.5%;
    }
}
.img-box:hover{background: #3eb1f0;}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.img-mask{
    background: rgba(0,0,0,0.5);
    top:100%;
    transition: top 200ms linear;
}
.img-box:hover .img-mask{top: 0;}
.img h1{
    text-align: center;
    margin-top: 30%;
    padding-bottom: 16px;
    margin-bottom:0;

}
.img div{
    position: relative;
    border-top: 1px solid #ffffff;
    left: 50%;
    margin-left: -66px;
    display: inline-block;
    text-align: center;
}
.img a{color: #ffffff;font-size: 12px}
.img-mask p{
    margin-top: 40%;
    text-align: center;
}
.img-mask span{
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.footer{margin-top:24px;padding:24px;width: 100%;background:#515151; }
.footer a{color: #999999;}
h3{border-bottom: 1px solid #999999;padding:8px 0;margin-left: 8px;margin-right: 8px;}
.article{letter-spacing: normal;line-height: 28px;font-size: 16px;  }
.ellipsis{
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical
}
/*以下为video播放器样式*/
/*播放器遮罩层，添加广告，弹幕之类；*/
#video-player{
    overflow: hidden;
}
.video-mask{
    position: absolute;
    /*color: #ffffff;*/
    color: #e65e55;
    width: 500px;
    left: 150%;
}
.video-screen{position: relative;}
#btn-play1{
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #eeeeee;
    font-size: 32px;
    line-height: 50px;
    background: rgba(45,45,45,0.7);
    top:50%;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    visibility: visible;
}
.video-progress{
    position:relative;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
    height: 16px;
    background: #111111;
    overflow: hidden;
    cursor: pointer;
}
#full-time{
    position: absolute;
    top: 4px;
    width: 100%;
    height: 8px;
    background: #777777;
}
#buffered-time{
    position: absolute;
    top: 4px;
    left: 0;
    height: 8px;
    background: #b4bd8b;
}
#current-time{
    position: absolute;
    top: 4px;
    left: 0;
    height: 8px;
    background: #ff3333;
}
#current-circle{
    position: absolute;
    left:0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cccccc;
}
.set-bar{
    position: relative;
    width:100%;
    height: 32px;
    background: #111111;
}
.btn-set{
    position: relative;
    color: #eeeeee;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}
#btn-play2{
    position: relative;
    float: left;
    width: 32px;
    margin-left: 16px;
    color: #ff2222;
}
#btn-time{
    float: left;
    width: 112px;
    margin-left: 16px;
}
#btn-full{
    float: right;
    width: 32px;
    margin-right: 16px;
}
#btn-speed{
    float: right;
    width: 54px;
    margin-right: 16px;
}
#btn-speed:hover .btn-speed-ul{
    visibility: visible;
}
.btn-speed-ul{
    position: absolute;
    top:-144px;
    left:-40px;
    color: #cccccc;
    list-style: none;
    visibility: hidden;
}
.btn-speed-ul li{
    width: 54px;
    height:24px;
    line-height: 24px;
    border-top: 1px solid #888888;
    background: rgba(51,51,51,0.8);
}
.btn-speed-ul li:hover{
    background: #888888;
}
#btn-volume{
    position: relative;
    float: right;
    width: 32px;
    margin-right: 16px;
}
#btn-volume:hover .volume-progress{visibility: visible}
.volume-progress{
    position: absolute;
    width: 32px;
    height: 120px;
    top:-120px;
    background: rgba(51,51,51,0.7);
    visibility: hidden;
}
#full-volume{
    position: absolute;
    left: 12px;
    bottom: 8px;
    width: 8px;
    height: 104px;
    background: #777777;
}
#current-volume{
    position: absolute;
    left: 12px;
    bottom: 8px;
    width: 8px;
    height: 104px;
    background: #ff3333;
}
#current-volume-circle{
    position: absolute;
    left:8px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cccccc;
}
.fullscreen {
    position:fixed;
    top:0; right:0; bottom:0; left:0;
    margin:0;
    box-sizing:border-box;
    width:100%;
    height:100%;
    object-fit:contain;
    overflow: auto;
    scrollbar-face-color: #111111;
    scrollbar-track-color: #111111;
    scrollbar-highlight-color: #111111;
    scrollbar-shadow-color: #111111;
    scrollbar-3dlight-color: #111111;
    scrollbar-arrow-color: #111111;
    scrollbar-darkshadow-color: #111111;
    /*Scrollbar-Face-Color为滚动条表面颜色设定;*/
    /*Scrollbar-Highlight-Color为滚动条上斜面和左斜面颜色设定；*/
    /*Scrollbar-Shadow-Color为滚动条下斜面和右斜面颜色设定；*/
    /*Scrollbar-3Dlight-Color为滚动条上边和左边的边沿颜色设定；*/
    /*Scrollbar-Arrow-Color为滚动条两端箭头颜色设定。*/
    /*Scrollbar-Track-Color为滚动条底板颜色设定；*/
    /*Scrollbar-Darkshadow为滚动条下边和右边边沿颜色设定。*/
}
/*以上为video播放器样式*/
/*-------------------------------------------分割线*/