
/*公共信息查询服务模块*/
body{
    background-color: #f0f0f0;
}
.main-content{
    min-height:100%;
}
.server-wrapper{
    position: relative;
}
.server-wrapper .server-head{
    position: relative;
    background-color: #fff;
    border-bottom:2px solid #5bcc47;
}
.server-wrapper .server-head .server-title{
    margin:0;
    height:50px;
    line-height:50px;
    font-family: "新宋体";
    font-size:24px;
}
.server-wrapper .server-body{
    position: relative;
}
.server-body .form-group{
    margin:15px auto;
}
.server-body .item-label{
    height:34px;
    margin:0 0 0 15px;
    padding-left:0.5em;
    padding-right:0.5em;
    line-height:34px;
    font-size:16px;
    color: #1a8014;
    font-weight:400;
    border:1px solid #1a8014;
    border-radius:3px;
}
.response-box{
    position:relative;
    padding:15px;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 1px;
    width:50%;
    min-width:500px;
}
@media (max-width:768px){
    .response-box{
        width:100%;
        min-width:100px;
    }
}
.response-box p{
    padding-right:100px;
    line-height:24px;
    font-size:16px;
    color:#777;
}
.response-box .response-result{
    color:#333;
}
.response-box .btn-expand{
    display:inline-block;
    position:absolute;
    line-height:24px;
    font-size:14px;
    right:15px;
    color:#999;
    text-decoration: none;
    cursor:pointer;
}
.response-box .btn-expand:hover{
    color:#0c63ee;
}
.response-box .btn1{
    top:15px;
}
.response-box .btn2{
    top:39px;
}
