/* 自定义全局通用css */
body{
  font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  color:#1F2D3D;
}

.move-enter-active,.move-leave-active{
  transition: opacity .5s;
}
.move-enter,.move-leave{
  opacity: 0;
}
.center-block{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.text-right{
  text-align:right;
}
.text-left{
  text-align:left;
}
.text-center{
  text-align:center;
}
.text-small{
  font-size:80%;
}
.text-blue{
  color:#20A0FF;
}
.text-success{
  color:#13CE66;
}
.text-warning{
  color:#F7BA2A;
}
.text-danger{
  color:#FF4949;
}
.text-gray{
  color:#8492A6;
}
// element-ui
.crumbs{
  margin-bottom: 10px;
}
.pagination{
  margin: 20px 0;
  text-align: right;
}
.iconfont{
  vertical-align: baseline;
  margin-right: 10px;
}
.crumbs .iconfont,.crumbs [class^="el-icon"]{
  margin-right: 4px;
}
.box-tips{
  padding:20px 10px;
  margin-bottom: 20px;
  border-left: 5px solid #d2d6de;
  background-color: #f0f0f0;
}
.el-button+.el-tooltip {
  margin-left: 10px;
}
.el-table td,.el-table th{
  padding:4px 8px;
}
.el-table .cell,
.el-table th>div{
  padding-left:8px;
  padding-right:8px;
}
.el-table tr:hover{
  background: #f6faff;
}
