
.main-column,.aside-column {
    position: relative;
    width: 100%;
    min-height: 400px;
}
.column-title{
    padding-left:8px;
    font-size:20px;
    line-height:24px;
    border-left:3px solid #0c63ee;
}
.aside-column-content{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.aside-column-content .tag {
    font-size: 16px;
    line-height: 16px;

    position: relative;

    float: left;

    width: 90px;
    height: 48px;
    margin: 8px;
    padding: 8px;
    border-radius:3px;
    text-decoration: none;
    background-color: #fff;
}
.tag-blue{
    color: #4198ca;
    border:1px solid #4198ca;
}
.tag-blue:hover{
    color: #fff;
    background-color: #4198ca;
}
.tag-pink{
    color:#ff5b8f;
    border:1px solid #ff5b8f;
}
.tag-pink:hover{
    color:#fff;
    background-color: #ff5b8f;
}
.tag-yellow{
    color: #ffb667;
    border:1px solid #ffb667;
}
.tag-yellow:hover{
    color:#fff;
    background-color: #ffb667;
}
.tag-red{
    color: #e65e55;
    border:1px solid #e65e55;
}
.tag-red:hover{
    color:#fff;
    background-color: #e65e55;
}
.tag-green{
    color: #6edb43;
    border:1px solid #6edb43;
}
.tag-green:hover{
    color:#fff;
    background-color: #6edb43;
}
/*时间倒计时*/
.timecounter-wrap {
    position: relative;
    float:left;
    display: block;
    padding:10px 0;
    width: 100%;
    height: 50px;
    line-height: 30px;
    font-size: 16px;
    color: #e65e55;
    font-weight:bold;
}
.timecounter-wrap .timebox {
    display:inline-block;
    margin:5px 5px 0 0;
    padding:0 5px;
    width:auto;
    height:20px;
    border-radius:4px;
    text-align:center;
    line-height:20px;
    font-size:16px;
    color: #fff;
    background-color: #dd4b39;
}
/*摄影展区*/
.photo-list{
    position:relative;
    list-style: none;
    margin:0;padding:0;
}
.photo-list .photo-box {
    position: relative;
    display: inline-block;
    float: left;
    overflow: hidden;
    cursor: pointer;
    background: #515151;
}
@media  (min-width: 992px)
{
    .photo-list .photo-box {
        width: 24.25%;
        margin-bottom: 1%;
        margin-right: 1%;
    }
    .photo-list .photo-box:nth-child(4n){
        margin-right:0;
    }
}
@media  (min-width: 768px) and (max-width: 991px)
{
    .photo-list .photo-box {
        width: 32.4%;
        margin-bottom: 1.4%;
        margin-right: 1.4%;
    }
    .photo-list .photo-box:nth-child(3n){
        margin-right:0;
    }
}
@media  (max-width: 767px)
{
    .photo-list .photo-box {
        width: 49%;
        margin-bottom: 2%;
        margin-right: 2%;
    }
    .photo-list .photo-box:nth-child(2n){
        margin-right:0;
    }
}
.photo-list .photo-box:hover
{
    background: #3eb1f0;
}
.photo
{
    position: absolute;

    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}
.photo-mask
{
    top: 100%;

    transition: top 200ms linear;

    background: rgba(0,0,0,.5);
}
.photo-box:hover .photo-mask
{
    top: 0;
}
.photo h1
{
    margin-top: 30%;
    margin-bottom: 0;
    padding-bottom: 16px;

    text-align: center;
}
.photo div
{
    position: relative;

    display: inline-block;

    text-align: center;

    border-top: 1px solid #fff;
}
.photo a
{
    font-size: 12px;

    color: #fff;
}
.photo-mask p
{
    margin-top: 40%;

    text-align: center;
}
.photo-mask span
{
    position: absolute;
    right: 16px;
    bottom: 16px;
}

/*-------------------------------------------分割线*/
/*以下为3D书籍样式分割线*/
.figcaption {
    text-align: left;
    position: relative;
    -webkit-backface-visibility: hidden;
}

.figcaption span {
    display: inline-block;
    margin-right:2em;
    color: #16a085;
    padding: 0.6rem 0 1rem 0;
}

.figcaption p {
    text-indent: 2em;
    color: #63707d;
    line-height: 1.5;
}

.book {
    position: relative;
    margin-top:32px;
    width: 200px; 
    height: 260px;
    left:200px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
li {list-style:none;}

/*
    2. background & color
*/

/* HARDCOVER FRONT */
.hardcover_front li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* reverse */
.hardcover_front li:last-child {
    background: #fffbec;
}

/* HARDCOVER BACK */
.hardcover_back li:first-child {
    background: linear-gradient(left, #999999 0%, #555555 10%);
}

/* reverse */
.hardcover_back li:last-child {
    background: #fffbec;
}

/* thickness of cover */

.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
    background: #999;
}

/* page */

.page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0 -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0 1px rgba(150, 150, 150, 0.2);
    border-radius: 0 5px 5px 0;
    border-left:1px solid #999999;
}

/*
    3. opening cover, back cover and pages
*/

.hardcover_front {
    -webkit-transform: rotateY(-25deg) translateZ(3px);
    -moz-transform: rotateY(-25deg) translateZ(3px);
    transform: rotateY(-25deg) translateZ(3px);
    z-index: 100;
}

.hardcover_back {
    -webkit-transform: rotateY(-15deg) translateZ(-3px);
    -moz-transform: rotateY(-15deg) translateZ(-3px);
    transform: rotateY(-15deg) translateZ(-3px);
}
/*// .page li{*/
/*//     -webkit-backface-visibility: hidden;*/
/*//     -moz-backface-visibility: hidden;*/
/*//     backface-visibility: hidden;*/
/*// } */
.page li:nth-child(1) {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
}

.page li:nth-child(2) {
    -webkit-transform: rotateY(-21deg);
    -moz-transform: rotateY(-21deg);
    transform: rotateY(-21deg);
}

.page li:nth-child(3) {
    -webkit-transform: rotateY(-22deg);
    -moz-transform: rotateY(-22deg);
    transform: rotateY(-22deg);
}

.page li:nth-child(4) {
    -webkit-transform: rotateY(-23deg);
    -moz-transform: rotateY(-23deg);
    transform: rotateY(-23deg);
}

.page li:nth-child(5) {
    -webkit-transform: rotateY(-25deg);
    -moz-transform: rotateY(-25deg);
    transform: rotateY(-25deg);
}

/*
    4. position, transform & transition
*/

.hardcover_front,
.hardcover_back,
.book_spine,
.hardcover_front li,
.hardcover_back li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.hardcover_front {
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s;
}

/* HARDCOVER front */
.hardcover_front li:first-child {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover_front li:last-child {
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);
    transform: rotateY(180deg) translateZ(2px);
}

/* HARDCOVER back */
.hardcover_back li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover_back li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

/* thickness of cover */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
}

/* HARDCOVER front */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover_front li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_front li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover_front li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.hardcover_front li:last-child:before {
    box-shadow: 0px 0px 30px 5px #333;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */

.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover_back li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover_back li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover_back li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

.page,
.page > li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
}

.page > li {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}
.page > li > p {
    font-size:0.2em;
}

.page > li:nth-child(1) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.page > li:nth-child(4) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.page > li:nth-child(5) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

/*
    5. events
*/

.book:hover > .hardcover_front {
    -webkit-transform: rotateY(-160deg) translateZ(0);
    -moz-transform: rotateY(-160deg) translateZ(0);
    transform: rotateY(-160deg) translateZ(0);
    z-index: 0;
}

.book:hover > .page li:nth-child(1) {
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    transform: rotateY(-20deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
    -webkit-transform: rotateY(-24deg);
    -moz-transform: rotateY(-24deg);
    transform: rotateY(-24deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
    -webkit-transform: rotateY(-145deg);
    -moz-transform: rotateY(-145deg);
    transform: rotateY(-145deg);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
    -webkit-transform: rotateY(-150deg);
    -moz-transform: rotateY(-150deg);
    transform: rotateY(-150deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
    -webkit-transform: rotateY(-155deg);
    -moz-transform: rotateY(-155deg);
    transform: rotateY(-155deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

/*
    6. Bonus
*/

/* cover CSS */

.coverDesign {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.coverDesign::after {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.45) 0%, transparent 100%);
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0.45) 0%, transparent 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0.45) 0%, transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.coverDesign h1 {
    color: #fff;
    font-size: 2.2em;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 54% 0 0 0;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}

.coverDesign p {
    color: #f8f8f8;
    font-size: 1em;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}

.book-footer{
    position:absolute;
    bottom:8px;
    right:8px;
    color:#eeeeee;
    font-size:8px;
}

.yellow {
    background-color: #f1c40f;
    background-image: -webkit-linear-gradient(top, #f1c40f 65%, #111111 0%);
    background-image: -moz-linear-gradient(top, #f1c40f 65%, #111111 0%);
    background-image: linear-gradient(top, #f1c40f 65%, #111111 0%);
}
/* Basic ribbon */

.ribbon {
    background: #c0392b;
    color: #fff;
    display: block;
    font-size: 0.7em;
    position: absolute;
    top: 10px;
    right: -20px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0.15em; 
    text-align: center;
    -webkit-transform: rotateZ(45deg) translateZ(1px);
    -moz-transform: rotateZ(45deg) translateZ(1px);
    transform: rotateZ(45deg) translateZ(1px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 10;
}
/*以上为3D书籍样式分割线*/


/*---------------------分割线*/