<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>捕风捉影</title>
    <meta name="keyword" content="github pages 个人网站">
    <meta name="author" content="EvanLiu 刘中泉">
    <meta name="description" content="个人博客，html5，css3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href=" ../../favicon.ico" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../resources/libs/bootstrap-3.3.6/css/bootstrap.min.css">
    <!-- app.css -->
    <link rel="stylesheet" href="../../resources/css/app.css">
    <link rel="stylesheet" media="screen" href="../../resources/css/home.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="row ">
            <div class="col-md-7">
                <iframe width="100%" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=5"></iframe>
            </div>
            <div class="col-md-5">
                <div class="timecounter-wrap" id="timecounter">
                    <span id="timecounter-tip1">距离2017还有：</span>
                    <span class="timebox bg-red-gradient" id="timecounter-day">100</span>天
                    <span class="timebox bg-red-gradient" id="timecounter-hour">00</span>时
                    <span class="timebox bg-red-gradient" id="timecounter-minute">00</span>分
                    <span class="timebox bg-red-gradient" id="timecounter-second">00</span>秒
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6">
                <div class="figcaption">
                    <h3 class="column-title">时光若刻</h3>
                    <span>捕风捉影</span><span id="timecounting"></span>
                    <p>每个人都会经过这个阶段，见到一座山，就想知道山后面是什么。其实，可能翻过山后面，你会发现没什么特别。回望之下，可能会觉得这一边更好。</p>
                    <p>但时间总是推着你往前走，人们遗忘，厌倦，变老，离去。</p>
                    <p>所以我没有说再见就离开了，因为我知道，说完再见，还是得往前走，翻过另一座山。</p>
                    <p>然后在某个不经意的瞬间，你会发现，原本是费尽心机想要忘记的事情真的就那么忘记了。</p>
                    <p>从此只有眼前路，没有身后身。</p>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- 3D书籍; -->
                <div class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front'>
                        <li>
                            <div class="coverDesign yellow">
                                <span class="ribbon text-center">2017</span>
                                <div class="" style="padding-top:1em;">
                                    <img class="center-block" src="../../resources/images/logo-text.png" style="width:80px;">
                                    <h3 class="text-center">我的魔法书</h3>
                                    <p>
                                        每个人都有自己的故事<br>
                                        而我的故事，在这里
                                    </p>
                                </div>
                                <p class="book-footer">人生出版社</p>
                            </div>
                        </li>
                        <li></li>
                    </ul>
                    <!-- Pages -->
                    <ul class='page' >
                        <li><p>我的平凡人生</p></li>
                        <li style="padding:16px;">
                            <div><img src="../../resources/images/body-3.jpg" style="width:140px;" class="center-block"></div>
                            <p >如果记忆是一个罐头，我希望它永远不会过期。</p>
                        </li>
                        <li>
                            <div style="-webkit-transform: rotate(180deg);transform: rotateY(180deg);">
                                <h1 class="text-center">我</h1>
                                <h1 class="text-center">是</h1>
                                <h1 class="text-center">谁</h1>
                            </div>
                        </li>
                        <li></li>
                        <li style="padding:16px;">
                            <h5>简介</h5>
                            <p style="font-size: 4px">欢迎来到这个一本正经胡扯的世界，生命不息，想象不止。</p>
                        </li>
                    </ul>
                    <!-- Back -->
                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="main-column ">
                    <h3 class="column-title">摄影展区</h3>
                    <ul class="photo-list clearfix">
                        <li class="photo-box">
                            <div class="photo ">
                                <h1>爱旅游</h1>
                                <div>
                                    <a>[黄山]</a>
                                    <a>[深圳]</a>
                                    <a>[广州]</a>
                                    <a>[厦门]</a>
                                </div>
                            </div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/huangshan1.jpg">
                            <div class="photo photo-mask"><p>山与海的交汇，让人迷离<br>黄山西海大峡谷</p><span>--2014.6.7</span></div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/xiamen2.jpg">
                            <div class="photo photo-mask"><p>梦之所起，梦之所终<br>厦门鼓浪屿</p><span>--2016.9.5</span></div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/shenzhen3.jpg">
                            <div class="photo photo-mask"><p>都市之外，藏有一片海<br>深圳西冲</p><span>--2014.12.12</span></div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/xiaoxiang5.jpg">
                            <div class="photo photo-mask"><p>过去的琐碎，活成今天的你<br>肖像</p><span>--2013.9.9</span></div>
                        </li>
                        <li class="photo-box">
                            <div class="photo ">
                                <h1>文艺范</h1>
                                <div>
                                    <a>[风景]</a>
                                    <a>[人像]</a>
                                    <a>[微距]</a>
                                    <a>[概念]</a>
                                </div>
                            </div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/weiju7.jpg">
                            <div class="photo photo-mask"><p>小蜜蜂啊，飞到花丛中啊<br>家门前的茶花</p><span>--2015.2.19</span></div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/jietou8.jpg">
                            <div class="photo photo-mask"><p>一树杜鹃出墙来<br>深圳版画村</p><span>--2014.10.4</span></div>
                        </li>
                        <li class="photo-box">
                            <div class="photo">
                                <h1>纪录片</h1>
                                <div>
                                    <a>[小镇]</a>
                                    <a>[湘大]</a>
                                    <a>[成长]</a>
                                    <a>[城市]</a>
                                </div>
                            </div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/xiangda10.jpg">
                            <div class="photo photo-mask"><p>时光时光慢些吧<br>湘谭大学</p><span>--2014.6.1</span></div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/liuya11.jpg">
                            <div class="photo photo-mask"><p>人看风景，风景看人<br>亚哥</p><span>--2014.10.4</span></div>
                        </li>
                        <li class="photo-box">
                            <img class="photo" src="../../resources/images/daoying12.jpg">
                            <div class="photo photo-mask"><p>真实？虚幻？随心就好<br>小池塘倒影</p><span>--2016.3.3</span></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="aside-column">
                    <h3 class="column-title">我的仓库</h3>
                    <div class="aside-column-content">
                        <a href="https://github.com/EvanLiu2968/notebook" target="_blank" class="tag tag-blue">我的笔记本</a>
                        <a href="https://github.com/EvanLiu2968/EvanLiu2968.github.io" target="_blank" class="tag tag-blue">捕风捉影</a>
                        <a href="https://github.com/EvanLiu2968/ionic-weixin" target="_blank" class="tag tag-pink">Angular微信</a>
                        <a href="https://github.com/EvanLiu2968/cyztc" target="_blank" class="tag tag-green">我要回家</a>
                        <a href="https://github.com/EvanLiu2968/h5-animate" target="_blank" class="tag tag-red">HTML5动画</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- jQuery 2.1.4 -->
<script src="../../resources/libs/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../../resources/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../resources/js/home/home.js"></script>
</html>
